 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Prueba</title>
     <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>

    <script type="application/javascript"
     src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
    </script>

    <script type="application/javascript"
            src="{{ url_for('static', filename='js/dropzone.js') }}">
    </script>
</head>
<body>
    <h1>Subir vídeo</h1>
    <form method="POST" action='/subirFichero' class="dropzone dz-clickable"
      id="dropper" enctype="multipart/form-data">
    </form>
    <div id="results">
        <div id="summary" style="white-space: pre-line;"></div>
        <div id="transcript" style="white-space: pre-line;"></div>
    </div>
</body>
</html>
