<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TFG2021 RecuerdosVideo</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>

    <script type="application/javascript"
            src="js/dropzone.js">
    </script>

    <script type="application/javascript"
            src="js/dropzoneCustom.js">
    </script>

    <script type="application/javascript"
            src='js/functions.js'>
    </script>
        <script type="application/javascript"
            src="js/bootstrap.min.js">
    </script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark">
            <h2 class="p-3">
                Generación de recuerdos a partir de vídeos utilizando redes neuronales sequence to sequence
            </h2>
        </nav>
    </header>

    <div class="container pt-4">
        <p class="intro">Página web creada para el TFG "Desarrollo de un sistema para la generación de recuerdos utilizando redes neuronales sequence to sequence" del curso 2021/2021 de la Universidad Complutense de Madrid. El código y la documentación se encuentran en <a href="https://github.com/NILGroup/TFG2021RecuerdosVideo">GitHub</a>.
        <h6>Autores: Daniel Alcázar Muñoz y Francisco Javier Lozano Hernández </h6>
        <h6>Director: Alberto Diaz Esteban</h6>
    </div>

    <div class="container main-div">
      <div class="row all-info py-3">
        <div class="col-xs-12 col-md-5 info">
            <div class="alert alert-info">
                <p>Para obtener el mejor resultado:</p>
            <ul>
                <li>Coloca el micrófono situado lo más cerca posible de los hablantes.</li>
                <li>Evita el ruido de fondo y los ecos excesivos.</li>
                <li>Intenta que los hablantes hablen al mismo tiempo lo menos posible.</li>
            </ul>
            </div>

            <h3>Subir vídeo</h3>


            <form method="POST" action='/subirFichero' enctype="multipart/form-data">
                <div class="py-1">
                    <p>Selecciona el modo de transcripción:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="modoTrancript" value="silencios" id="separacionSilencios" checked>
                        <label class="form-check-label" for="separacionSilencios">
                            Separación por silencios
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="modoTrancript" value="hablantes" id="separacionHablantes">
                        <label class="form-check-label" for="separacionHablantes">
                            Separación por hablantes
                        </label>
                    </div>
                </div>

                <div class="dropzone dz-clickable my-3 pb-3" id="dropper"></div>
                <button type="submit" class="btn btn-primary py-1" id="submit-all"> Subir Video </button>
            </form>

        </div>


        <div class="col-xs-12 col-md-1 none"></div>
        <div id="results" class="col-xs-12 col-md-6">
            <h3 style="margin-bottom: 30px">Resultado</h3>
            <div id="resultados">

            </div>
        </div>
      </div>
    </div>
</body>

</html>
