
nav {
    background-color: #e30e26;
    text-align: center;
    color: white;
}

textarea {
    overflow-y: scroll;
    height: 100px;
    resize: both;
}

#transcript{
    height: 300px;
}

.dropzone{
    border-radius: .25rem;
    text-align: center;
}

.dz-filename{
    padding: 5px;
}

.alert{
    text-align: left;
}