
nav {
    background-color: #e30e26;
    text-align: center;
    color: white;
}

textarea {
    overflow-y: scroll;
    height: 150px;
    resize: both;
}
.intro{
    font-size: 20px;
    padding: 15px 0px;
}
#transcript{
    height: 300px;
}

.dropzone{
    border-radius: .25rem;
    text-align: center;
}

.dz-filename{
    padding: 5px;
}
.dz-button{
    background: transparent;
    border: none;
    pointer-events: none;
}
#load-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.alert{
    text-align: left;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
    margin: 20px;
    margin-top: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.info-action-bar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}